apiVersion: v1beta1
kind: ImageBasedInstallationConfig
metadata:
  name: {{ .BaseImageName }}
seedImage: {{ .SeedImage }}
seedVersion: {{ .SeedVersion }}
installationDisk: /dev/nvme0n1
imageDigestSources:
  - mirrors:
    - {{ .Registry }}
    source: brew.registry.redhat.io
  - mirrors:
    - {{ .Registry }}
    source: quay.io
  - mirrors:
    - {{ .Registry }}/openshift-release-dev/ocp-release
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - {{ .Registry }}
    source: registry-proxy.engineering.redhat.com
  - mirrors:
    - {{ .Registry }}/ocp
    source: registry.ci.openshift.org/ocp
  - mirrors:
    - {{ .Registry }}
    source: registry.connect.redhat.com
  - mirrors:
    - {{ .Registry }}
    source: registry.redhat.io
  - mirrors:
    - {{ .Registry }}
    source: registry.stage.redhat.io
  - mirrors:
    - {{ .Registry }}/openshift-release-dev/ocp-v4.0-art-dev
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - {{ .Registry }}/ocp/release
    source: registry.ci.openshift.org/ocp/release
  - mirrors:
    - {{ .Registry }}/ocp/4-dev-preview
    source: registry.ci.openshift.org/ocp/4-dev-preview
pullSecret: {{ .PullSecret }}
sshKey: {{ .SshKey }}
additionalTrustBundle: |
{{ .RegistryCertificate | indent 2 }}
networkConfig:
  interfaces:
    - name: {{ .InterfaceName }}
      type: ethernet
      state: up
      ipv6:
        enabled: true
        address:
          - ip: {{ .InterfaceIpv6 }}
            prefix-length: 64
        dhcp: false
        autoconf: false
      ipv4:
        enabled: false
  dns-resolver:
    config:
      server:
        - {{ .DnsIpv6 }}
  routes:
    config:
      - destination: ::/0
        next-hop-address: {{ .NextHopIpv6 }}
        next-hop-interface: {{ .NextHopInterface }}
        table-id: 254
