name: 'Eco-GoInfra Module Bump'
on:
  workflow_dispatch:
env:
  # SSH_AUTH_SOCK: /tmp/ssh_agent.sock
  GIT_SSH_COMMAND: 'ssh -i ~/eco-gotests.id_rsa -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
jobs:
  main:
    name: Eco-goinfra module bump
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Setup agent and add repo ssh key
        run: |
          echo "${{ secrets.REPO_ACCESS_KEY }}" > ~/eco-gotests.id_rsa
          chmod 0600 ~/eco-gotests.id_rsa
          # ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          # ssh-add ~/eco-gotests.id_rsa 
      
      - name: Set up Go 1.20
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.11

      - name: Check for eco-goinfra module updates
        id: new_mods
        env:
          ECO_GOTESTS_CLONE_URL: git@github.com:openshift-kni/eco-gotests.git
        run: |
          git remote set-url origin $ECO_GOTESTS_CLONE_URL
          git pull origin
          if [[ ! `git branch -a | grep eco-goinfra-dep-bump` ]]; then
            git config user.name 'GitHub Actions'
            git config user.email 'noreply@example.com'
            go get github.com/openshift-kni/eco-goinfra
            go mod tidy
            go mod vendor
          fi

          if [[ ! -z `git diff-index --name-only HEAD --` ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
            echo "Nothing to update"
          fi
      
      - name: Push changes to new branch
        if: steps.new_mods.outputs.changed == 'true'
        run: |
          export MODULE=$(go list -m -f '{{.Version}}' github.com/openshift-kni/eco-goinfra)
          git checkout -b eco-goinfra-dep-bump-$MODULE
          git add go.mod go.sum vendor
          git commit -m "deps: bumping eco-goinfra module to ${MODULE}"
          git push origin eco-goinfra-dep-bump-$MODULE

      # - name: Cleanup ssh-agent
      #   if: always()
      #   run: |
      #     ssh-add -D
      #     rm -f ~/eco-gotests.id_rsa || true
