name: Makefile CI

on:
  workflow_call:

  workflow_dispatch:

  push:

  pull_request:
    branches:
      - main
      - 'release-\d.\d\d'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SHELL: /bin/bash

    steps:
      - uses: actions/checkout@v5
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run lint
        run: make lint

      - name: Install
        run: make install-ginkgo

      - name: Run ginkgo Dry Run
        run: ginkgo run -vv -r --dry-run ./tests/
        env:
          ECO_DRY_RUN: true
      
      - name: Run unit tests
        run: make test
